[Desktop Entry]
Type=Application
Version=0.1
Name=BillReminder
Terminal=false
GenericName=Bills manager
Comment=Never forget to pay a bill again!
Icon=/usr/share/billreminder/images/header.png
Exec=/usr/bin/billreminder
Categories=GNOME;Application;Office;Miscellaneous
#OnlyShowIn=GNOME;
