[Desktop Entry]
Type=Application
Version=0.1
Name=BillReminder
GenericName=Bills manager
Comment=Never again lose the bill!
Icon=billreminder.ico
Exec=/usr/bin/billReminder
Categories=Application;Miscellaneous
