Source: billreminder
Section: gnome
Priority: extra
Maintainer: Luiz Armesto <luiz.armesto@gmail.com>
Build-Depends: debhelper (>= 5), autotools-dev
Standards-Version: 3.7.2

Package: billreminder
Architecture: all
Depends: python (>=2.5), python (<<2.6), python-gtk2, python-gobject, python-pysqlite2, python-dbus
Description: Never forget to pay a bill again!
 BillReminder is a small and quick accounting application
 designed to allow for easy tracking of bills.
