#!/usr/bin/make -f

DEB_PYTHON_SYSTEM := pycentral

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/gnome.mk

DEB_COMPRESS_EXCLUDE = .py

binary-install/billreminder::
	dh_pycentral


